/******************************************************************

Stylesheet: 600px

******************************************************************/

.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.header {
  background-color: $cHeaderColor;

  .header-menu {
    // PC用のメニューを表示する
    visibility: visible;
    width: 300px;
    height: 100%;
    display: block;

    & ul {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0;
      justify-content: space-between;
    }

    &__item {
      list-style: none;
      display: inline;

      & a {
        text-decoration: none;
      }
    }
  }
}

.mobile-menu {
  // モバイル用のメニュー、ボタンは非表示とする
  visibility: hidden;
  &__button {
    display: none;
    visibility: hidden;
  }
}

.hero {
  &__main-title {
    font-size: 42px;
  }
}

.swiper-slide {
  height: 300px; // 画像の高さ
}

.accordion-1 {
  &__inner {
    // 横に並べる
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 49%;
  }
}
