/******************************************************************

Stylesheet: ベーススタイル
基本的なスタイルはこのファイルに記述する

******************************************************************/

body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// Font スモール
.font-sm {
  font-size: 14px;
}
// Font ミディアム
.font-md {
  font-size: 17px;
}
// Font ラージ
.font-lr {
  font-size: 17px;
}
// Font ラージ2
.font-lg {
  font-size: 25px;
}
// 余白 通常
.mb-sm {
  margin-bottom: 16px !important;
}
// 余白 大き目
.mb-lg {
  margin-bottom: 80px !important;
}
// 余白 通常
.pb-sm {
  padding-bottom: 16px !important;
}
// 余白 大き目
.pb-lg {
  padding-bottom: 80px !important;
}

// コンテンツ全体の幅
.content-width {
  width: 90%; // 横幅
  margin: 0 auto; // 中央寄せ
  max-width: $contentMaxWidth; // 横幅最大
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}

.flex {
  // 要素を縦1列に並べる
  display: flex;
  flex-direction: column;
}

.purple {
  color: $cWineRed;
}

.travel {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }

  &__title {
    position: relative;

    @include p-base(
      $display: none,
      $width: 100px,
      $height: 1px,
      $top: 50%,
      $left: -120px
    ) {
      background-color: $cBlack;
      transform: translateY(-50%) scaleX(0);
      transition: transform 0.3s ease 1.6s;
      transform-origin: right;
    }

    // &.inview {
    //   &::before {
    //     transform: translateY(-50%);
    //   }
    // }
  }

  &__sub {
    @extend .mb-sm;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      // object-fit: contain;
      width: 100%;
      height: 100%;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__texts {
    @extend .pb-sm;
  }
}

.houses {
  @extend .content-width;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%; // ボタンは必ず横幅いっぱいにする
  }
}

.popular {
  &__inner {
    position: relative;

    // mixinを用いて疑似要素を記述する場合
    @include p-base($top: 10%, $height: 90%) {
      background-color: $cBgGray;
    }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 90%;
    //   background-color: $cBgGray;
    // }
  }

  &__header {
    @extend .content-width;
  }
  &__container {
    position: relative;
    z-index: 2;

    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }

  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%; // ボタンは必ず横幅いっぱいにする
  }

  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      // object-position: top; // 画像の上側を表示する(デフォルトはcenter)
      height: 100%;
      width: 100%;
    }
  }
}

.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 0.7em;
  }

  &__world {
    color: $cWineRed;
  }
}

.footer {
  padding: 60px 0;
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    padding: 0;
    margin: 10px;

    & > a {
      color: $cSubTitle;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}
