/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/

.flex {
  // 要素を横に並べる
  flex-direction: row;
  flex-wrap: wrap;
}

.houses {
  &__item {
    flex-basis: 50%; // 横2列にしたいので50%とする
    margin-bottom: 60px;
  }
}
