@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.appear.right .item {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.appear .item {
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.accordion-1 {
  width: 100%;
  margin: 0 auto;
}

.accordion-1__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion-1__item {
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.accordion-1__item.open .accordion-1__description {
  background-color: #f0f0f0;
  top: 0;
  opacity: 0.9;
  visibility: visible;
}

.accordion-1__img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.accordion-1__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.accordion-1__img img:hover {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

.accordion-1__img-title {
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 10;
}

.accordion-1__img-title > .accordion-1__img-title-main {
  font-size: 32px;
}

.accordion-1__img-title > .accordion-1__img-title-desc {
  font-size: 14px;
  text-align: center;
}

.accordion-1__description {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.accordion-1__description > pre {
  font-size: 11px;
  color: #643232;
  padding: 0.7em 0.7em;
  margin: 0;
}

.accordion-1__description > pre > span {
  font-size: 12px;
  color: #323232;
}

/******************************************************************

Stylesheet: ベーススタイル
基本的なスタイルはこのファイルに記述する

******************************************************************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

.global-max-width, .header__inner, #content, .footer__inner {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.mb-sm, .accordion-1__item {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.logo {
  font-size: 24px;
}

.main-title {
  font-size: 24px;
  display: block;
}

.sub-title {
  font-size: 16px;
  opacity: 0.8;
}

.header {
  background-color: rgba(240, 240, 250, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color, 0.3s;
  transition: background-color, 0.3s;
  height: 52px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#content {
  background-color: white;
}

.hero {
  padding-top: 52px;
}

section {
  background-color: white;
}

.section2 {
  height: 100vh;
}

.footer {
  background-color: rgba(135, 206, 235, 0.6);
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px

******************************************************************/
  .accordion-1__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accordion-1__item {
    width: 49%;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px

******************************************************************/
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px

******************************************************************/
}
/*# sourceMappingURL=style.css.map */