a {
  color: orange;

  // リンククリック後
  &:visited {
    color: blue;
  }

  // hover
  &:hover {
    color: red;
  }

  // フォーカスが当たっている
  &:focus {
    color: green;
  }

  // クリックしている状態
  &:active {
    color: yellow;
  }
}

div {
}
