<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>タスク詳細</title>
    <style>
        .form-delete{
            /* formの改行を防ぐための設定 */
            display: inline;
        }
    </style>
</head>
<body>
<section layout:fragment="content">
    <div>
        <a class="btn btn-primary"
           th:href="@{/tasks/{taskId}/editForm(taskId=${task.id})}">編集</a>
        <form class="form-delete"
              onclick="return confirm('タスクを削除しますか？')"
              th:action="@{/tasks/{id}(id=${taskId})}"
              th:method="delete">
            <button class="btn btn-danger" type="submit">削除
            </button>
        </form>
    </div>
    <div class="mt-3" th:object="${task}">
        <h2 th:text="'#' + *{id} + ' ' + *{summary}"></h2>
        <p th:text="*{status}"></p>
        <pre th:text="*{description}"></pre>
    </div>
    <div class="mt-3">
        <a class="btn btn-secondary" th:href="@{/tasks}">戻る</a>
    </div>
</section>
</body>
</html>