<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="ファイルアップロード"></title>
    <style>
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="form-container">
        <form th:action="hoge"
              th:method="post">
            <div class="form-group mt-3">
                <label class="form-label" for="fileName">ファイル</label>
                <input type="text"
                       class="form-control"
                       id="fileName"
                       th:field="*{fileUploadForm.fileName}">
            </div>
            <div class="mt-3">
                <div>
                    <button class="btn btn-primary"
                            type="submit">送信
                    </button>
                    <a class="btn btn-secondary" th:href="@{/}">Top</a>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>