<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title th:text="ファイルアップロード"></title>
    <style>
    </style>
</head>
<body>
<section layout:fragment="content">
    <div class="form-container">
        <form th:action="@{/tasks/file-upload}"
              th:method="post"
              th:object="${fileUploadForm}"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="file" class="form-label">ファイルを選択</label>
                <input class="form-control" type="file" id="file"
                       name="file"
                       th:errorclass="is-invalid"
                       th:field="*{file}">
                <span></span>
            </div>

            <div class="mt-3">
                <div>
                    <button class="btn btn-primary"
                            type="submit">送信
                    </button>
                    <a class="btn btn-secondary" th:href="@{/}">Top</a>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>