<!DOCTYPE html>
<html lang="ja"
      layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>タスク一覧</title>
</head>
<body>
<section layout:fragment="content">
    <div>
        <a class="btn btn-primary" th:href="@{/tasks/creationForm}">作成</a>
    </div>
    <div>
        <form th:action="@{/tasks}" method="get" >
            <div class="gorm-group" >
                <label class="form-label" for="summarySearch">概要</label>
                <input type="text" class="form-control" id="summarySearch" name="summary"
                       placeholder="概要">
            </div>
            <div class="gorm-group">
                <input  type="checkbox" id="statusSearchTodo" name="status" value="TODO">
                <label class="form-label" for="statusSearchTodo">Todo</label>
                <input  type="checkbox" id="statusSearchDoint" name="status" value="DOING">
                <label class="form-label" for="statusSearchTodo">Doing</label>
                <input  type="checkbox" id="statusSearchDone" name="status" value="DONE">
                <label class="form-label" for="statusSearchTodo">Done</label>
            </div>
            <button type="submit" class="btn btn-primary" >検索</button>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>概要</th>
                <th>ステータス</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${taskList}" th:object="${task}">
                <td><a th:href="@{tasks/{id}(id=*{id})}"
                       th:text="'#' + *{id}"></a></td>
                <td><a th:href="@{tasks/{id}(id=*{id})}"
                       th:text="*{summary}"></a></td>
                <td th:text="*{status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>