@charset "UTF-8";

/* header */
#wrap {
	width: 800px;
	background-color: #dddddd;
}

#header {
	background-color: #ff0000;
}

/* cont */
#cont1 {
	width: 250px;
	background-color: #00ff00;
	float: left;
}

#cont2 {
	width: 250px;
	background-color: #00ff66;
	float: left;
}

#cont3 {
	width: 250px;
	background-color: #00ffcc;
	float: left;
}

/* footer */
#footer {
	background-color: #ffff00;
	/* clear: bothで左右のfloatを解除する */
	clear: both;
}