body {
  color: #444;
}

#container {
  height: 100%;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 1;
}

#container > #menu-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
}

.menu-open > #container {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-box-shadow: 0 8px 30px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 30px -10px rgba(0, 0, 0, 0.8);
}

.menu-open > #container #menu-cover {
  opacity: 1;
  visibility: visible;
}

.menu-open > #nav-menu li {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ddd;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-container {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.4em;
}

header .logo-container .logo i {
  font-size: 1.5em;
}

header .logo-container .logo span {
  font-size: 1.5em;
  margin-left: 0.2em;
}

header #mobil-menu-btn {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #mobil-menu-btn i {
  margin-right: 0.1em;
  font-size: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#nav-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  padding-top: 50px;
}

#nav-menu ul {
  margin-left: 2em;
}

#nav-menu li {
  margin-bottom: 1em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
}

#nav-menu li:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#nav-menu li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#nav-menu li:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.menu-title {
  display: block;
  font-weight: 600;
  font-size: 1.5em;
  color: #444;
}

.menu-title a {
  text-decoration: none;
}

.menu-title a:visited {
  color: #444;
}

.menu-title-sub {
  display: block;
  font-size: 0.8em;
  color: gray;
  margin-top: 0.2em;
}

.menu-title-sub a {
  text-decoration: none;
}

.menu-title-sub a:visited {
  color: gray;
}

#main-contents {
  background-color: white;
  height: 100vh;
  padding: 0.5em 0.5em;
}
/*# sourceMappingURL=style.css.map */