<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>トップページ</title>
</head>
<body>
<section layout:fragment="content">
    <div class="text-center">
        <h1 class="h1">タスク管理のお手伝いをします</h1>
        <p>タスク一覧からはじめてください</p>
    </div>
    <hr>
    <p>★テスト用のリンク★</p>
    <div class="mt-1">
        <p><a th:href="@{/tasks/form2}" class="btn btn-secondary">タスク検索テスト</a></p>
        <p><a th:href="@{/tasks/form2}" class="btn btn-secondary">form2</a></p>
        <p><a th:href="@{/tasks/file-upload}" class="btn btn-secondary">file-upload</a>
        </p>
    </div>
</section>
</body>
</html>