/******************************************************************

サイト全体で使用する変数を定義する

******************************************************************/

$cWhite: white; // 白
$cBlack: black; // 黒
$cSubTitle: #535353; // サブタイトルの文字色
$cBgGray: #eaebe6; // 背景Gray
$cWineRed: #904669; // ロゴなどに使用する色
$contentMaxWidth: 1070px; // 画面の横幅の最大値
$navHeight: 100px;
