$cHeaderColor: rgba(240, 240, 240, 0.5); // header color
$cFooterColor: skyblue; // footer color
$cSectionColor: white; // section color
$cContentColor: white; // content color
$cLinkColor: rgb(0, 123, 255);
$cFontBasic1: #333132; // 文字色 基本 ノワール(Noir)
$cLogo: gray; // logo icon color
$contentMaxWidth: 800px; // 全体の幅
$mobileMenuWidth: 250px; // mobileメニューの幅
$headerHeight: 60px; // ヘッダー部分の高さ
$headerHeight-PC: 80px; // ヘッダー部分の高さ(PC)
$menuOpenTime: 0.3s; // mobileメニューの動作

@import "modules/appear";
@import "modules/mobile-menu";
@import "breakpoints/base";

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}
